.header{
    color: white;
    display: flex;
    height: 40px;
    justify-content: center;
    float: none;
    align-items: center;
    background: blue;
    font-size: 5ch;
    font-family: monospace,'Courier New', Courier;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgb(101, 109, 219) , rgb(52, 17, 133));
}